@charset "utf-8";
@import url("./normalize.css");

/*-----共通CSS-----*/
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    /*font-familyの記述はもう一回おさらいしとく*/
    font-family:"Meiryo", sans-serif;
}


html{
    /*お試しでrem基準*/
    font-size:10px;
}

.bold{
    font-weight:bold;
}

/*全体の幅設定*/
.wrap{
    width:1000px;
    min-width:768px;
    max-width:100%;
    margin:0 auto;
    padding:0 2rem;

    /*確認用*/
    /*height:2000px;*/
    /*border:2px #e16b8c dotted;*/
}

/*-----記述-----*/
/*****ナビで使ってるCSSココカラ*****/
header{
    border-bottom:1px dotted #666;
    /*確認用*/
    /*border:2px #e16b8c dotted;*/
}

header nav ul{
    padding:2rem 0 0.3rem 0;
    width:100%;
    /*height:9rem;*/
}

.glnav ul li{
    display:inline-block;
    list-style:none;
    vertical-align:bottom;
    font-size:1.5rem;
}

/*ロゴをliから外すか悩む*/
.glnav ul li:nth-of-type(n+3){
    margin-left:2rem;
}

.glnav ul li a{
    text-decoration:none;
    color:#666;

/*****お試し実装ココカラ*****/
    /*ノビルセンの基準設定*/
    position:relative;
    /*下二行消しても挙動は変わらず、なんのための記述かは後で調べる*/
    display:inline-block;
    /*transition:0.5s;*/
}
.glnav ul li a:not(.header-logo)::after{
    /*.glnav ul li aを基準に絶対位置移動*/
    position:absolute;
    /*width:0だから一見視認できないやつ*/
    width:0;
    /*下から0.1rem分上に移動した位置からほにゃらら*/
    bottom:0.1rem;
    /*.glnav ul li aのwidthを基準に左から50%移動した位置からほにゃらら*/
    left:50%;
    content:"";
    border-bottom:1px solid #bbb;
    /*
    始点がleftから50%だから、-50%移動させてる。
    ニュアンスとしては下記の:hover時のwidth:100%;に伸びながら、X-50%方向に移動している感じ。
    */
    transform:translateX(-50%);
    /*超重要なプロパティ。上記の状態から下記の:hover時のcssを適用するまでの時間がtransitionになってる。*/
    transition:0.3s;
}

/*:hover時の::after要素のプロパティ*/
.glnav ul li a:hover:not(.header-logo)::after{
    /*
    hoverすると上記のwidth:0;から.glnav ul li a要素のwidth100%の長さになる。
    transform:translateX(-50%);のおかげで中央から左右へと伸びているように見えてる。
    */
    width:100%;
}
/*****お試し実装ココマデ*****/

.glnav ul li a:hover{
    color:#bbb;
}

.logo > .header-logo{
    /*擬似トリミング用にボックスサイズ設定*/
    width:11rem;
    height:5rem;
    background:url("../img-rise/glnv-splash.gif") left top no-repeat;
    background-size:17rem auto;
    /*heddenにしないと親をぶち抜くゾ*/
    overflow:hidden;
    vertical-align:bottom;

    /*確認用*/
    /*border:1px #e16b8c solid;*/
}
/*****ナビで使ってるCSSココマデ*****/
.reserve-logo{
    display:block;
    min-width:288px;
}
main{
    padding:1rem;
}

.grid-container{
    display:grid;
    max-width:100%;
    grid-template-rows:1fr;
    grid-template-columns:1fr 1fr;
    gap:1rem;
    padding:1rem 0;
}
.grid-sub-container-01{
    display:grid;
    max-height:293px;
    grid-template-rows:1fr;
    grid-template-columns:147px 1fr;
    gap:1rem;
    grid-row:1/2;
    grid-column:1/2;
    /*確認用border*/
    /*border:1px solid #000;*/
}

.grid-sub-container-01 > .floor-nav{
    grid-row:1/2;
    grid-column:1/2;
    font-size:0;
    line-height:0;
    /*確認用border*/
    /*border:1px solid #000;*/
}

ul{
    display:inline-block;
}

.floor-nav li{
    /*min-width:145px;*/
    list-style-type:none;
}

.floor-nav > ul > li+li{
    margin-top:3px;
}

.foolr-nav img{
    display:inline-block;
}
.floor-nav > ul > li >img:first-of-type{
    margin-right:3px;
}

.grid-sub-container-01 > .floor-img{
    grid-row:1/2;
    grid-column:2/3;
    position:relative;
    /*確認用border*/
    /*border:1px solid blue;*/
}
.floor-img >img{
    display:block;
    width:100%;
    position:absolute;
    bottom:0;
}

section{
    grid-row:1/2;
    grid-column:2/3;
    border:1px dotted #666;
}
section h1{
    color:#666;
    font-weight:normal;
    margin-top:0;
}

section dl:not(:first-of-type){
    margin-top:5rem;
}
section dt,dd{
    font-size:1.1rem;
    color:#666;
}
section dd{
    line-height:2rem;
}
section dd+dd{
    margin-top:2rem;
}
section .about-us{
    line-height:2.5rem;
}

/*インデント調整*/
section .reservation{
    text-indent:-3rem;
    padding-left:3rem;
}


.telephone-num{
    font-size:2.5rem;
    font-weight:bold;
}
.telephone-num::before{
    content:url("../img-rise/tel.png");
    margin-right:0.5rem;
    width:1rem;
    height:1rem;
}

.mail-address{
    color:#666;
    text-decoration:none;
    font-size:1.5rem;
    font-weight:600;
    position:relative;
}
.mail-address::before{
    content:url("../img-rise/mail.png");
    margin-right:0.5rem;
}
.mail-address::after{
    content:"";
    width:0;
    border-bottom:1px solid #bbb;
    position:absolute;
    left:51%;
    bottom:0.2rem;
    transform:translateX(-50%);
    transition:0.3s;
}
.mail-address:hover::after{
    width:98%;
}

section .reservation{
    text-indent:-3rem;
    padding-left:3rem;
}


/*****フッターCSSココカラ*****/
.footer-copyright{
    font-size:1.2rem;
    letter-spacing:0.05rem;
    margin:1.2rem 0 0 0;
    color:#666;
    text-align:right;
    border-top:1px dotted #666;
}
/*****フッターCSSココマデ*****/