@charset "utf-8";
@import url("./normalize.css");

/*-----共通CSS-----*/
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    /*font-familyの記述はもう一回おさらいしとく*/
    font-family:"Meiryo", sans-serif;
}


html{
    /*お試しでrem基準*/
    font-size:10px;
}

a{
    text-decoration:none;
}

.bold{
    font-weight:bold;
}

/*全体の幅設定*/
.wrap{
    width:1000px;
    min-width:768px;
    max-width:100%;
    margin:0 auto;
    padding:0 2rem;

    /*確認用*/
    /*height:2000px;*/
    /*border:2px #e16b8c dotted;*/
}

/*-----記述-----*/
/*****ナビで使ってるCSSココカラ*****/
header{
    border-bottom:1px dotted #666;
    /*確認用*/
    /*border:2px #e16b8c dotted;*/
}

header nav ul{
    padding:2rem 0 0.3rem 0;
    width:100%;
    /*height:9rem;*/
}

.glnav ul li{
    display:inline-block;
    list-style:none;
    vertical-align:bottom;
    font-size:1.5rem;
}

/*ロゴをliから外すか悩む*/
.glnav ul li:nth-of-type(n+3){
    margin-left:2rem;
}

.glnav ul li a{
    color:#666;

/*****お試し実装ココカラ*****/
    /*ノビルセンの基準設定*/
    position:relative;
    /*下二行消しても挙動は変わらず、なんのための記述かは後で調べる*/
    display:inline-block;
    /*transition:0.5s;*/
}
.glnav ul li a:not(.header-logo)::after{
    /*.glnav ul li aを基準に絶対位置移動*/
    position:absolute;
    /*width:0だから一見視認できないやつ*/
    width:0;
    /*下から0.1rem分上に移動した位置からほにゃらら*/
    bottom:0.1rem;
    /*.glnav ul li aのwidthを基準に左から50%移動した位置からほにゃらら*/
    left:50%;
    content:"";
    border-bottom:1px solid #bbb;
    /*
    始点がleftから50%だから、-50%移動させてる。
    ニュアンスとしては下記の:hover時のwidth:100%;に伸びながら、X-50%方向に移動している感じ。
    */
    transform:translateX(-50%);
    /*超重要なプロパティ。上記の状態から下記の:hover時のcssを適用するまでの時間がtransitionになってる。*/
    transition:0.5s;
}

/*:hover時の::after要素のプロパティ*/
.glnav ul li a:hover:not(.header-logo)::after{
    /*
    hoverすると上記のwidth:0;から.glnav ul li a要素のwidth100%の長さになる。
    transform:translateX(-50%);のおかげで中央から左右へと伸びているように見えてる。
    */
    width:100%;
    transition:0.3s;
}
/*****お試し実装ココマデ*****/

.glnav ul li a:hover{
    color:#bbb;
}

.logo > .header-logo{
    /*擬似トリミング用にボックスサイズ設定*/
    width:11rem;
    height:5rem;
    background:url("../img-rise/glnv-splash.gif") left top no-repeat;
    background-size:17rem auto;
    /*heddenにしないと親をぶち抜くゾ*/
    overflow:hidden;
    vertical-align:bottom;

    /*確認用*/
    /*border:1px #e16b8c solid;*/
}
/*****ナビで使ってるCSSココマデ*****/

.reserve-logo{
    display:block;
    min-width:288px;
}
main{
    padding:1rem;
}

.grid-container{
    display:grid;
    max-width:100%;
    min-height:300px;
    grid-template-rows:1fr;
    grid-template-columns:71px 1fr;
    gap:2.5rem;
    padding:1rem 0;
}

/*****.grid-sub-container-01内のCSSココカラ*****/
/*左側のfloor-navだけを納めたsub-containerが.grid-sub-container-01になる*/
.grid-sub-container-01{
    display:block;
    grid-row:1/2;
    grid-column:1/2;
    /*確認用border*/
    /*border:1px solid #000;*/
}

.grid-sub-container-01 > .floor-nav{
    width:71px;
    height:74px;
    font-size:0;
    line-height:0;
    /*確認用border*/
    /*border:1px solid #000;*/
}

.floor-nav > ul > li{
    list-style-type:none;
}
.floor-nav > ul > li+li{
    margin-top:3px;
}
.foolr-nav > ul > li > img{
    display:inline-block;
}

/*このhover時の画像の切り替えは絶対js使った方が早い･簡単･修正超絶楽*/
.floor-nav-st{
    position:relative;
}
.st-nav-off{
    position:absolute;
    left:0;
    opacity:1;
    transition:0.6s;
}
.st-nav-off:hover{
    opacity:0;
    transition:0.3s;
}
/*****.grid-sub-container-01内のCSSココマデ*****/


/*****.grid-sub-container-02内のCSSココカラ*****/
.grid-sub-container-02{
    display:grid;
    grid-template-rows:1fr 1fr;
    grid-template-columns:1fr 1fr;
    row-gap:1rem;
    column-gap:2.5rem;
    /*下のrowとcolumnは.grid-containerによって割り振られたgridの配置に対して、.grid-sub-container-02をどこに配置するかを指定してるよ*/
    grid-row:1/2;
    grid-column:2/3;
    /*確認用border*/
    /*border:1px solid #000;*/
}

.floor-img{
    min-height:293px;
    grid-row:1/3;
    grid-column:1/2;

    display:grid;
    grid-template-columns:1fr;
    grid-template-rows:1fr 1fr;
    row-gap:1rem;
}
.floor-img > img{
    display:block;
    width:100%;
}
._1st-image{
    grid-row:1/2;
    grid-column:1/2;
}
._2st-image{
    grid-row:2/3;
    grid-column:1/2;
}

section{
    grid-row:1/3;
    grid-column:2/3;
    /*確認用border*/
    /*border:1px dotted #666;*/
}
section h1{
    color:#666;
    font-weight:normal;
    margin-top:0;
}
section dt,dd{
    font-size:1.1rem;
    color:#666;
}
section dd+dd{
    margin-top:1rem;
}
.st{
    display:grid;
    grid-template-columns:1fr;
    grid-template-rows:1fr 1fr;
    row-gap:1rem;
}

.st-name{
    font-size:small;
    font-weight:bolder;
    color:#58b2dc;
}

.fee{
    font-size:small;
    font-weight:bolder;
    color:#666;
}

.st-1st{
    display:block;
    grid-row:1/2;
    grid-column:1/2;
}
.st-2st{
    display:block;
    grid-row:2/3;
    grid-column:1/2;
}
.st-detail{
    margin-top:1rem;
    list-style:none inside;
    text-indent:-1rem;
    padding-left:1rem;

}
.st-detail:not(.st-detail-note)::before{
    content:"・";
}
.st-detail-note{
    list-style:none;
}
.st-detail-note::before{
    content:"※";
}
/*****.grid-sub-container-02内のCSSココマデ*****/

/*****フッターCSSココカラ*****/
.footer-copyright{
    font-size:1.2rem;
    letter-spacing:0.05rem;
    margin:1.2rem 0 0 0;
    color:#666;
    text-align:right;
    border-top:1px dotted #666;
}
/*****フッターCSSココマデ*****/